TODO
NOTES
.direnv
tmp
result
maint/.mypy_cache/
text/*/.stripped.*
text/*/99-real.md
not-ready.*.pdf
not-ready.*.md
not-ready.*.txt
not-ready.*.epub
not-ready.*.fb2
.version
.check-lt-ru
.check-lt-en
.check-lwc-ru
.check-lwc-en
.check-wc
.check-ratchet
